.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

button {
  background-color: #696c7c;
  color: white;
  font-size: 24px;
  border: none;
  flex: 1 1 0;
  margin: 0 8px;
  font-family: Consolas, serif;

  .number {
    color: #35d0ff;
  }

  &.selected {
    background-color: #35d0ff;
    color: #282c34;

    .number {
      color: #282c34;
    }
  }
}

.row {
  display: flex;
  flex-grow: 1;
  margin-bottom: 16px;
}
